* {
    margin: 0;
    padding: 0;
}

section {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    height: max-content;
    width: 100%;
}


#main {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
    width: 35%;
    height: 100%;
    margin-top: 20px;
    padding-bottom: 25px;
}

h2 {
    margin-top: 10px;
}

#form-container {
    width: 85%;
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.basic {
    margin-top: 5px;
    margin-bottom: 20px;
    width: 100%;
}

.select-profession {
    margin-bottom: 20px;
}

.radio-button {
    margin-top: 8px;
}

.recommend {
    margin-top: 5px;
}

.languages {
    margin-top: 25px;
}

.check {
    margin-bottom: 5px;
}

.text-input {
    margin-top: 20px;
}

span {
    display: inline-block;
    height: 40px;
}

.comment-input {
    margin-top: 10px;
}

.btn {
    margin-left: 10px;
    margin-top: 20px;
    width: 90%;
    background-color: cadetblue;
    height: 25px;
    align-items: center;
    justify-content: center;
}

#last {
    height: 50px;
}