* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section {
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}
.section h2 {
    font-size: 3rem;
}

.container {
    display: flex;
    flex-direction: row;
    padding: 2rem 3rem;
    /* background-color: antiquewhite; */
    margin-top: 1rem;
}

.container div {
    background-color: antiquewhite;
    padding: 0 1rem;
    font-size: 2.5rem;
    margin: .15rem;
    border-radius: .5rem;
}

.section button {
    font-size: 1.5rem;
    padding: .15rem .5rem;
    border-radius: .5rem;
    background-color: cadetblue;
    color: #fff;
    box-shadow: 0 0 .5rem .1rem #000;
    border: 2px solid #333;
    cursor: pointer;
}