@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

:root {
    --darkmode-element: hsl(209, 23%, 22%);
    --darkmode-background: hsl(207, 26%, 17%);
    --lightmode-text: hsl(200, 15%, 8%);
    --lightmode-input: hsl(0, 0%, 52%);
    --lightmode-backgound: hsl(0, 0%, 98%);
    --darkmode-text-lightmode-element: hsl(0, 0%, 100%);
}

body {
    background-color: var(--lightmode-backgound);
}
body.dark {
    background-color: var(--darkmode-background);
    color: var(--darkmode-text-lightmode-element);
}

/* Upper navbar design */
.navbar {
    line-height: 5rem;
    background-color: var(--darkmode-text-lightmode-element);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 4rem;
}
.navbar h3 {
    font-size: 1.5rem;
    font-weight: 900;
}
.navbar p {
    font-size: 1.15rem;
    font-weight: 700;
    cursor: pointer;
}
.navbar p i {
    margin-right: .75rem;
    transform: rotate(-30deg);
    font-size: 1.3rem;
}

.dark-nav {
    background-color: var(--darkmode-element);
}

button {
    padding: .25rem 1.5rem;
    font-size: 1.25rem;
    font-weight: 600;
    position: absolute;
    left: 5rem;
    top: 8.5rem;
    background-color: #fff;
    border-radius: .5rem;
    border: none;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .1);
}
button i {
    padding-right: .75rem;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    width: 90%;
    gap: 5%;
    align-items: center;
    /* background-color: yellow; */
    height: 65%;
}
.container img {
    width: 100%;
    max-height: 27rem;
    border-radius: .25rem;
}
.img-container {
    width: 45%;
}

.country {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    /* background-color: blue; */
    height: 30rem;
    padding-top: 2rem;
}
.country h3 {
    font-size: 2rem;
    font-weight: 800;
    padding-top: 2.5rem;
}

.country-details {
    height: 30%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    row-gap: .55rem;
    column-gap: 1rem;
    flex-wrap: wrap;
}

.border-countries {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.border-countries p{
    display: inline;
    font-size: 1.1rem;
}

.borders {
    display: flex;
    flex-wrap: wrap;
    gap: .75rem;
}
a {
    display: inline;
    text-decoration: none;
    color: #000;
    padding: .25rem .5rem;
    border-radius: .25rem;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, .2);
}

.dark-button, .dark-border-cntry {
    background-color: var(--darkmode-element);
    color: var(--darkmode-text-lightmode-element);
}

.dark-border-cntry a{
    color: #fff;
}

@media (max-width: 1100px) and (min-width: 800px) {
    .container {
        height: 100%;
    }
    .container img {
        width: 150%;
        height: 25rem;
    }

    .country {
        margin-left: 15%;
    }
    .country h3 {
        padding-top: 1.5rem;
        margin-bottom: -2rem;
    }
    .country-details {
        flex-wrap: nowrap;
        height: 45%;
    }
}

@media (max-width: 800px) and (min-width: 450px) {
    .navbar {
        line-height: 2.5;
        padding-inline: 1rem;
        padding-block: 1rem;
    }
    .navbar h3 {
        font-size: 1.25rem;
        font-weight: 900;
    }
    .navbar p {
        font-size: 1rem;
        font-weight: 700;
    }
    .navbar p i {
        margin-right: .5rem;
        font-size: 1rem;
    }

    .main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* background-color: red; */
        width: 100%;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        /* background-color: yellow; */
    }
    .img-container {
        width: 70%;
        transform: translateX(-20%);
    }
    
    .country {
        row-gap: 1rem;
        min-height: 200%;
    }
    .country h3 {
        padding-top: 1rem;
    }
    
    .country-details {
        /* background-color: green; */
        flex-wrap: nowrap;
    }

    .border-countries p{
        width: 100%;
    }
}

@media (max-width: 450px) {
    .navbar {
        line-height: 2.5;
        padding-inline: 1rem;
        padding-block: 1rem;
    }
    .navbar h3 {
        font-size: 1rem;
        font-weight: 900;
    }
    .navbar p {
        font-size: .75rem;
        font-weight: 700;
    }
    .navbar p i {
        margin-right: .5rem;
        font-size: 1rem;
    }
    
    button {
        font-size: 1rem;
        left: 2rem;
        top: 7rem;
    }
    button i {
        padding-right: .75rem;
    }
    
    .main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* background-color: red; */
        width: 100%;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        /* background-color: yellow; */
    }
    .img-container {
        width: 100%;
    }
    
    .country {
        row-gap: 1rem;
        min-height: 200%;
    }
    .country h3 {
        padding-top: 1rem;
    }
    
    .country-details {
        /* background-color: green; */
        flex-wrap: nowrap;
    }

    .border-countries p{
        width: 100%;
    }
}